.btn-wrapper {
	display: flex;
	justify-content: center;
}
.add-note-btn,
.favorite-note-btn {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8a00c2;
	color: #ffd700;
}
.pagination-wrapper {
	display: flex;
	justify-content: center;
}
.note-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.link-no-underline {
	text-decoration: none; /* Remove the underline */
}

@media (min-width: 480px) {
	.add-note-btn,
	.favorite-note-btn {
		margin: 20px 60px 20px 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #8a00c2;
		color: #ffd700;
	}
}
