.note-detail-wrapper {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.note-detail-card {
	background-color: #ffd700;
	width: 220px;
	height: 350px;
}
.note-detail-title {
	display: flex;
	justify-content: center;
}
.note-detail-text {
	word-wrap: break-word;
	box-sizing: border-box;
	padding: 10px;
}

.btn-back,
.btn-edit {
	margin: 20px 40px 20px 40px;
}
.ant-divider-horizontal {
    margin: 12px 0;
}
