.favorite-notes-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.title-favorite {
	display: flex;
	justify-content: center;
}
.btn-back {
	display: flex;
	justify-content: center;
}
